# Google Cloud Service Account Key (IMPORTANT!)
key.json

# Python Virtual Environment
venv/
.venv/
env/

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class

# OS Metadata
.DS_Store
Thumbs.db

# IDE Settings
.vscode/
.idea/